h1 {
  color: var(--pico-color-pink-400);
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

blockquote p {
  color: var(--pico-color-purple-200);
}

.bg-purple {
  background: var(--pico-color-purple-750);
}
.bg-blue {
  background: var(--pico-color-azure-750);
}

@media only screen and (prefers-color-scheme: light) {
  h1 {
    color: var(--pico-color-pink-600);
  }
  blockquote p {
    color: var(--pico-color-purple-800);
  }
  .bg-purple {
    background: var(--pico-color-purple-250);
  }
  .bg-blue {
    background: var(--pico-color-azure-250);
  }
}
