:root {
  --icon-size: 48px;
  --theme-icon-size: 32px;
}

html {
  height: 100%;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 50%;
  opacity: 50%;
}

.container {
  padding: 2rem 2rem 1rem;
}

h1 {
  color: var(--pico-color-pink-400);
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

blockquote p {
  color: var(--pico-color-purple-200);
}

.flex {
  display: flex;
}
.main-title {
  flex: 1;
}
.theme-toggle button {
  background: none;
  border: none;
  box-shadow: none;
}
.theme-toggle img {
  width: var(--theme-icon-size);
  height: var(--theme-icon-size);
}

.instruments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0 1rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.icon-title {
  color: #ffffff;
}
.icon-img {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0.5rem;
}

.bg-purple {
  background: var(--pico-color-purple-750);
}
.bg-blue {
  background: var(--pico-color-azure-750);
}

.success-message,
.error-message {
  margin-bottom: 550px;
  border-style: solid;
  border-width: 0;
  border-left-width: 12px;
}
.success-message {
  border-color: var(--pico-color-jade-400);
}
.error-message {
  border-color: var(--pico-color-red-500);
}

@media only screen and (prefers-color-scheme: light) {
  h1 {
    color: var(--pico-color-pink-600);
  }
  blockquote p {
    color: var(--pico-color-purple-800);
  }
  .icon-title {
    color: #000000;
  }
  .bg-purple {
    background: var(--pico-color-purple-250);
  }
  .bg-blue {
    background: var(--pico-color-azure-250);
  }
}

@media only screen and (prefers-color-scheme: dark) {
  .icon-img {
    filter: invert(1);
  }
  .theme-toggle img {
    filter: invert(1);
  }
}

@media only screen and (max-width: 768px) {
}

[data-theme='light'] {
  .icon-img {
    filter: invert(0);
  }
  .theme-toggle img {
    filter: invert(0);
  }

  h1 {
    color: var(--pico-color-pink-600);
  }
  blockquote p {
    color: var(--pico-color-purple-800);
  }
  .icon-title {
    color: #000000;
  }
  .bg-purple {
    background: var(--pico-color-purple-250);
  }
  .bg-blue {
    background: var(--pico-color-azure-250);
  }
}
[data-theme='dark'] {
  .icon-img {
    filter: invert(1);
  }
  .theme-toggle img {
    filter: invert(1);
  }
}
