h1 {
  color: var(--pico-color-pink-400);
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

blockquote p {
  color: var(--pico-color-purple-200);
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-title {
  color: #ffffff;
}
.icon-img {
  width: 48px;
  height: 48px;
  margin: 0.5rem;
}

.bg-purple {
  background: var(--pico-color-purple-750);
}
.bg-blue {
  background: var(--pico-color-azure-750);
}

.success-message,
.error-message {
  margin-bottom: 550px;
  border-style: solid;
  border-width: 0;
  border-left-width: 12px;
}
.success-message {
  border-color: var(--pico-color-jade-400);
}
.error-message {
  border-color: var(--pico-color-red-500);
}

@media only screen and (prefers-color-scheme: light) {
  h1 {
    color: var(--pico-color-pink-600);
  }
  blockquote p {
    color: var(--pico-color-purple-800);
  }
  .icon-title {
    color: #000000;
  }
  .bg-purple {
    background: var(--pico-color-purple-250);
  }
  .bg-blue {
    background: var(--pico-color-azure-250);
  }
}

@media only screen and (prefers-color-scheme: dark) {
  .icon-img {
    filter: invert(1);
  }
}
