@tailwind base;
@layer base {
  html {
    @apply text-slate-100;
    @apply bg-slate-800;
  }
}
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

@font-face {
  font-family: 'Baroque Script';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/BaroqueScript.ttf) format("truetype");
} */

a {
  @apply text-sky-500;
}

a:hover {
  @apply underline;
}
