backend:
    name: git-gateway
    branch: main

media_folder: /static/images
public_folder: /static/images
site_url: https://daveantonini.ca

collections:
    - name: pages
      label: 'Pages'
      files:
          - name: home
            label: 'Home'
            file: content/pages/home.yml
            fields:
                - { label: 'Title', name: title, widget: string }
                - { label: 'Intro', name: intro, widget: markdown }
                - name: testimonials
                  label: 'Testimonials'
                  widget: list
                  fields:
                      - { label: 'Quote', name: quote, widget: string }
                      - { label: 'Author', name: author, widget: string }